.titleBlock {
  grid-column: 2 / 6;
  padding-top: 2rem;
}

.contentBlock {
  grid-column: 7 / -2;
  padding: 4rem 0;
}
.contentBlock h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
}
.contentBlock a {
  color: $highlight;
  text-decoration-color: $highlight;
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
}
.contentBlock a:hover,
.contentBlock a:focus {
  color: black;
  text-decoration-color: rgba(0, 0, 0, 1);
}

.linkBlock {
  display: flex;
}
.linkBlock > p {
  margin-inline-end: 6rem;
}
.linkBlock a {
  color: $highlight;
  font-family: $font-body-bold;
  font-weight: 700;
  text-decoration-color: $highlight;
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
}
.linkBlock a:hover,
.linkBlock a:focus {
  color: black;
  text-decoration-color: rgba(0, 0, 0, 1);
}