/* Global styles
========================================================================== */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 4% repeat(12, 1fr) 4%;
  grid-gap: 2.4rem;
  max-width: 1200px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

section {
  min-height: calc(100vh - 7rem);
}