/* Global Typography styles
========================================================================== */

// @font-face {
//   font-family: 'LyonDisplay Regular';
//   font-style: normal;
//   font-display: swap;
//   src: local('LyonDisplay Regular'), local('LyonDisplay-Regular'),
//     url('../assets/fonts/LyonDisplay-Regular-Web.woff2') format('woff2'),
//     /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../assets/fonts/LyonDisplay-Regular-Web.woff')
//       format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
// }

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  // font-family: $font-body-regular;
  letter-spacing: -0.025rem;
}