/* Global Typography styles
========================================================================== */

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: $font-body-regular;
  letter-spacing: -0.025rem;
}

h2 {
  font-family: $font-body-regular;
}
