/* Global Typography styles
========================================================================== */

html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-family: $font-body-regular;
  letter-spacing: -0.025rem;
}

h2, h3 {
  font-family: $font-body-regular;
}

@media (max-width: 505px) {
  h3 {
    font-family: $font-heading;
    font-size: 6.2rem;
    line-height: 0.9;
    letter-spacing: -0.05rem;
  }
}
@media (max-width: 400px) {
  h3 {
    font-family: $font-heading;
    font-size: 5.6rem;
  }
}
@media (max-width: 360px) {
  h3 {
    font-family: $font-heading;
    font-size: 4.8rem;
  }
}