/* Global variables
========================================================================== */

$font-heading: 'Ultra', serif;
$font-body-regular: 'Roboto', sans-serif;
$font-body-bold: 'Roboto bold', sans-serif;