/* Index Page Projects module styles
========================================================================== */
section {
  scroll-margin-top: 8rem;
}

.indexTitleBlock {
  grid-column: 2 / 6;
  padding-top: 2rem;
}

.indexContentBlock {
  grid-column: 7 / -2;
  padding: 4rem 0;
}

.projectCardSection {
  margin-top: 3.6rem;
}

