/* Index Page Hero module styles
========================================================================== */
.splashSection {
  padding-top: 7rem;
  background-color: #fff;
  min-height: 100vh;
}
.indexTitleBlock {
  grid-column: 2 / 7;
  padding-top: 2rem;
}

.indexContentBlock {
  grid-column: 7 / -2;
  padding: 4rem 0;
}

.tagList {
  display: flex;
  flex-wrap: wrap;
}
.tagList li {
  margin-inline-end: 2.4rem;
  margin-bottom: 1.8rem;
  padding: 0.25rem 0.5rem;
  border-left: 1px solid black;
}