/* Header module styles
========================================================================= */

.siteName {
  grid-column: 2 / 6;
  font-family: $font-body-bold;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.025rem;
  margin-top: 0;
}
.mobileSiteName {
  grid-column: 2 / 3;
  font-family: $font-body-bold;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.025rem;
  margin-top: 0;
  display: none;
}
.siteName a,
.mobileSiteName a {
  color: #000;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
}
.siteName a:focus,
.siteName a:hover,
.mobileSiteName a:focus,
.mobileSiteName a:hover {
  color: $highlight;
  text-decoration-color: $highlight;
}

.siteHeader {
  height: 7rem;
  padding-top: 3rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 20;
}

@media (max-width: 505px) {
  .mobileSiteName {
    display: block;
  }
  .siteName {
    display: none;
  }
}