/* Header module styles
========================================================================= */

.siteName {
  grid-column: 2 / 6;
  font-family: $font-body-regular;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: -0.025rem;
  margin-top: 0;
}
.siteName a {
  color: #000;
  font-weight: 700;
  text-decoration-color: transparent;
  transition: text-decoration-color 0.3s ease, color 0.3s ease;
}
.siteName a:focus,
.siteName a:hover {
  color: $highlight;
  text-decoration-color: $highlight;
}

.siteHeader {
  height: 7rem;
  padding-top: 3rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 20;
}