/*  Footer module styles
==================================================================== */

footer {
  background-color: #444;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4rem 0;
}
footer p {
  color: #ddd;
  font-size: 1.4rem;
}

.contact {
  grid-column: 2 / 7;
}
.contact ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}
.contact li {
  margin-inline-end: 4rem;
}
.contact a {
  font-size: 1.85rem;
  color: #ddd;
  transition: color 0.3s ease;
}
.contact a:hover,
.contact a:focus {
  color: $highlight;
}
.colophon,
.copyright {
  grid-column: 7 / -2;
}
.colophon a {
  color: #ddd;
}
.colophon a:hover,
.colophon a:focus {
  color: $highlight;
}
.colophon p:last-of-type {
  margin-bottom: 0;
}
.copyright p {
  margin-top: 0;
}

@media (max-width: 675px) {
  .contact,
  .colophon,
  .copyright {
    grid-column: 2 / -2;
  }
}